# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.GAME3011_A3_BabuNabil.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nabil\Documents\School Code\Year 3\GAME3011-AdvGameProg\GAME3011_A3_BabuNabil\.idea\.idea.GAME3011_A3_BabuNabil\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
